html * {
    box-sizing: border-box;
}

body {
    display:grid;
    width: 1440px;
    height: 1080px; 
    margin: 0;
}

.container-1 {
    display: grid;
    place-self: center;
    width:1320px;
    height: 780px;
    background-color: hsl(47, 88%, 63%);
    position: relative;
    
}

.container-2 {
    place-self: center;
    width: 350px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    border-style:solid;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 9px 9px 0px 0px;
    background-color: white;
}

.container-3 {
    place-self: center;
    position: absolute;
    top:20px;
    border-radius: 25px;
    width:90%;
    height: 40%;
}

section {
    height: 60%;
    width: 186,391px;
    margin-left:17.406px;
    margin-right:17.406px;
    font-family: 'Figtree', sans-serif;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    border-width: 0.5px;
    margin-top: 40px;
    padding:5px 10px 5px 10px;
    font-family: sans-serif;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-size: 16px;
    font-weight:800;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Figtree';
}

h3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    font-weight: 900;
    font-family: sans-serif;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 200;
    top:10px;
}

.image-1 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
}

.container-5 {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    object-fit: fill;
    margin-left: 17.406px;
    height: 30px;
    width: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text {
    display:inline;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Figtree';
    font-weight: 800;
}