body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(207, 5%, 67%); 
    width: 1230px;
    min-width: 340px;
    height: 100vh;
}

.qr-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 239, 241);
    width:300px;
    height: 450px;
    border-radius: 20px;
    position: relative;
}

.qr-inside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 106, 243);
    width:90%;
    height:50%;
    margin-bottom: 120px;
    margin-top: -80px;
    position: absolute;
    border-radius: 20px;

}

.qr-image {
    width: 100%;
    border-radius: 10px;
    height:100%;
    object-fit: cover;

}

.text {
    width: 100%;
    text-align: center;
    margin-top: 200px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.text h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 22px;

}

.text p {
    font-family:sans-serif;
    font-weight: 400;
    font-size: 16px;
}   